$primaryDark: #121a11;
$primaryAccent: #32724d;
$primaryGrey: #3e423e;
$secondaryGrey: #747474;
$secondaryAccent: #2c6142;
$primaryWhite: #fff;
$primaryBlack: #101010;
$shadowColour: rgba(0, 0, 0, 0.3);